__pycache__
.DS_Store
*.swp
*.pyc
*.so
.idea
examples/output
examples/logs
examples/models
doc/build
xnmt.egg-info
build/
xnmt/cython/*.cpp
xnmt/cython/*.c
xnmt/cython/*.so
test/tmp
test/config/logs/
test/config/models/
/*.yaml
examples/preproc/
