__pycache__
.DS_Store
*.swp
*.pyc
*.so
.idea
.mypy_cache
*examples*/output
*examples*/logs
*examples*/models
*examples*/reports
*examples*/preproc/
doc/build
xnmt.egg-info
build/
xnmt/cython/*.cpp
xnmt/cython/*.c
xnmt/cython/*.so
test/tmp
*config*/logs/
*config*/models/
*config*/reports/
*config*/hyp/
*config*/tmp/
test/*config*/logs/
test/*config*/models/
test/*config*/reports/
test/*config*/hyp/
test/*config*/tmp/
/*.yaml
.project
.pydevproject
.settings/
dist/
docs/_build/
docs/_pycharm_build/
docs/examples
.history
venv_*
*.gv
*.gv.pdf
*.icloud
