__pycache__
.DS_Store
*.swp
*.pyc
*.so
.idea
.mypy_cache
examples/output
examples/logs
examples/models
doc/build
xnmt.egg-info
build/
xnmt/cython/*.cpp
xnmt/cython/*.c
xnmt/cython/*.so
test/tmp
test/config/logs/
test/config/models/
test/config/reports/
/*.yaml
examples/preproc/
.project
.pydevproject
.settings/
dist/
docs/_build/
docs/examples
